.hero {
  margin: 10vh 0 0 0;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/hero.png");
  background-size: cover;
  padding: 4rem 4rem;
}

.hero-text {
  width: 30rem;
  color: #362e39;
}

.hero-title h1 {
  width: 40rem;
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.2rem;
  color: #262128;
}

.hero-title span {
  font-size: 1rem;
  line-height: 0.8rem;
  font-weight: 500;
  color: #312a34;
}

.tabs {
  width: 30rem;
  margin: 1rem 0;
  padding: 2rem 0;
}

.tab {
  height: 2rem;
  width: 28rem;
  display: flex;
  margin: 0 0.5rem;
}

.location-field .date-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}

label {
  font-size: 1rem;
  font-weight: 700;
}

.customer-display {
  width: 30rem;
  height: fit-content;
  margin: 1rem 0;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 14rem;
}

.avatar h3 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  color: #262128;
  font-weight: 800;
}

.avatar p {
  margin: 0.5rem 0;
  color: #362e39;
  font-size: 1rem;
}

.service {
  margin: 0;
}

:host ::ng-deep {
  //TabView
  .tabs .card .p-tabview .p-tabview-nav {
    background: none;
    font-size: 1rem;
    height: 2.5rem;
  }

  .tabs .card .p-tabview .p-tabview-nav li {
    width: 4rem;
  }

  .tabs .card .p-tabview .p-tabview-nav li a {
    border-radius: 10px 10px 0 0;
  }

  .tabs .card .p-tabview .p-tabview-nav li.p-highlight a {
    background-color: #5e5861;
    color: #ffffff;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
  }

  .tabs .card .p-tabview .p-tabview-panels {
    height: 5rem;
    padding: 1rem 0.5rem;
    background-color: #c1bec2;
    display: flex;
  }

  //InputText
  .tabs .card .p-inputtext {
    margin: 0.2rem 0;
    height: 1rem;
    width: 9rem;
    border: 1px solid #c1bec2;
    font-size: 1rem;
  }

  //browse button
  .tabs .card .browse_button .p-button {
    height: 2.75rem;
    min-width: 8rem;
    background-color: #5e5861;
    color: #ffffff;
    font-size: 0.7rem;
    margin: 0.2rem 0;
    padding: 0.3rem 0.5rem;
  }
}
