<div class="container">
  <div class="grid-card">
    <div class="main-card">
      <h2>Discover Homes That Match Your Dreams</h2>
      <p>
        Find your dream place to live in with more than 10k+ properties listed.
      </p>
      <p-button label="Browse Properties" />
    </div>
    <div class="card-one">
      <p-avatar
        image="/assets/icons/trust.png"
        styleClass="mr-2"
        shape="circle"
        size="xlarge"
      />
      <h3>Expertise You Can Trust</h3>
      <p>
        With years of experience in the real estate market, we understand your
        needs and deliver solutions tailored to you.
      </p>
    </div>
    <div class="card-two">
      <p-avatar
        image="/assets/icons/operator.png"
        styleClass="mr-2"
        shape="circle"
        size="xlarge"
      />
      <h3>Personalized Assistance</h3>
      <p>
        Our dedicated team works closely with you to simplify the process and
        help you make informed decisions.
      </p>
    </div>
    <div class="card-three">
      <p-avatar
        image="/assets/icons/price-tag.png"
        styleClass="mr-2"
        shape="circle"
        size="xlarge"
      />
      <h3>Transparent Pricing</h3>
      <p>
        No hidden fees or surprises – just honest, straightforward pricing you
        can trust.
      </p>
    </div>
    <div class="card-four">
      <p-avatar
        image="/assets/icons/target.png"
        styleClass="mr-2"
        shape="circle"
        size="xlarge"
      />
      <h3>Customer-Centric Approach</h3>
      <p>
        Your satisfaction is our priority. We’re here to guide you at every step
        of your real estate journey.
      </p>
    </div>
  </div>
</div>
