<div class="container">
  <div class="purpose-top">
    <div class="purpose-left">
      <h2>
        Connecting people to their dream homes with <span>seamless</span>,
        <span>trusted</span>, and <span>hassle-free</span> real estate
        solutions.
      </h2>
    </div>
    <div class="purpose-right">
      <p>
        Our purpose is to connect people with their dream homes by providing a
        seamless platform for buying, selling, and renting properties. We aim to
        simplify real estate transactions and empower our users with trusted
        services, a vast property database, and a commitment to excellence.
      </p>
    </div>
  </div>
  <div class="purpose-middle">
    <div class="purpose-cards">
      <div class="purpose-card">
        <div class="purpose-card-left">
          <img src="assets/icons/house.png" alt="Verified Listings Only" />
        </div>
        <div class="purpose-card-right">
          <h2>Verified Listings Only</h2>
          <p>
            Browse through properties that are handpicked and verified for
            quality, ensuring you get exactly what you’re promised.
          </p>
        </div>
      </div>
      <div class="purpose-card">
        <div class="purpose-card-left">
          <img
            src="assets/icons/clock.png"
            alt="Fast and Hassle-Free Transactions"
          />
        </div>
        <div class="purpose-card-right">
          <h2>Fast Transactions</h2>
          <p>
            We prioritize efficiency, ensuring smooth and quick deals for both
            buyers and sellers.
          </p>
        </div>
      </div>
      <div class="purpose-card">
        <div class="purpose-card-left">
          <img src="assets/icons/action.png" alt="Call-to-Action" />
        </div>
        <div class="purpose-card-right">
          <h2>Call-to-Action</h2>
          <p>
            Join countless happy clients who have found their dream homes and
            sold their properties with ease. Experience the difference with us!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="purpose-bottom">
    <div class="purpose-bottom-left">
      <h1>7.8%</h1>
      <p>Property Return Rates</p>
    </div>
    <div class="purpose-bottom-center">
      <h1>2394</h1>
      <p>Property in Sell & Rent</p>
    </div>
    <div class="purpose-bottom-right">
      <h1>1012</h1>
      <p>Daily Transactions</p>
    </div>
  </div>
</div>
