<div class="container">
  <div class="title">
    <h1>Popular Properties</h1>
  </div>
  <div class="display-tabs">
    <p-tabView>
      <p-tabPanel header="Rent">
        <div class="cards">
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Buy">
        <div class="cards">
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Sell">
        <div class="cards">
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img src="https://picsum.photos/200/300" alt="Image 1" />
            <div class="card-body">
              <h3 class="card-title"><span>$2,095 </span>/ month</h3>
              <h2>Palm Harbor</h2>
              <p>2699 Green Valley, Highland Lake, FL</p>
              <div class="info-container">
                <span
                  ><img src="assets/icons/double-bed.png" alt="bed" /> 3
                  Beds</span
                >
                <span
                  ><img src="assets/icons/bath.png" alt="bath" /> 2
                  Bathrooms</span
                >
                <span
                  ><img src="assets/icons/area.png" alt="area" /> 600 Sq
                  Ft</span
                >
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="more-button">
    <p-button label="Browse more" />
  </div>
</div>
