.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  gap: 2rem;
}

.footer-bottom-right li {
  padding: 0 1rem;
  font-size: 2rem;
}

.footer-bottom-right li:hover {
  color: #5e5861;
  cursor: pointer;
}
